{% extends "inc/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">{{view_user.full_name}}</h6>
                <p>Почта: <strong>{{ view_user.email}}</strong></p>
                <p>Имя пользователя: <strong>{{ view_user.username}}</strong></p>
                <p>Роль: <strong>{{ view_user.get_role_display}}</strong></p>

                <p>Дата регистрации: <strong>{{ view_user.date_joined}}</strong></p>
                <p>Последний вход: <strong>{{ view_user.last_login}}</strong></p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}