asgiref==3.7.2
asttokens==2.2.1
attrs==23.1.0
backcall==0.2.0
bcrypt==3.2.0
blinker==1.4
boto3==1.14.49
botocore==1.17.63
Brotli==1.0.9
build==0.8.0
certifi==2023.5.7
cffi==1.15.1
channels==4.0.0
chardet==4.0.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.4
crispy-bootstrap4==2022.1
cryptography==41.0.1
cssselect2==0.7.0
decorator==5.1.1
defusedxml==0.7.1
distro==1.7.0
dj-database-url==0.5.0
Django==4.0
django-appconf==1.0.5
django-braces==1.15.0
django-ckeditor==6.5.1
django-classy-tags==3.0.1
django-cms==3.11.0
django-crispy-forms==2.0
django-embed-video==1.4.8
django-entangled==0.4
django-extensions==3.2.3
django-filer==2.2.3
django-formtools==2.3
django-js-asset==2.0.0
django-mptt==0.13.4
django-multiselectfield==0.1.12
django-polymorphic==3.1.0
django-rest-framework==0.1.0
django-sekizai==4.0.0
django-select2==7.10.1
django-social-auth==0.7.28
django-storage-url==0.5.0
django-storages==1.13.1
django-taggit==4.0.0
django-treebeard==4.4
djangocms-admin-style==3.2.0
djangocms-attributes-field==2.1.0
djangocms-file==3.0.0
djangocms-frontend==1.0.0
djangocms-googlemap==2.0.0
djangocms-icon==2.0.0
djangocms-picture==3.0.0
djangocms-style==3.0.0
djangocms-text-ckeditor==5.1.1
djangocms-video==3.0.0
djangorestframework==3.14.0
dnevniklib==1.1
docutils==0.15.2
easy-thumbnails==2.8.3
exceptiongroup==1.1.2
executing==1.2.0
fake-useragent==1.1.3
fasteners==0.14.1
furl==2.1.3
future==0.18.2
getch==1.0
h11==0.14.0
html5lib==1.1
httplib2==0.20.2
idna==3.4
importlib-metadata==4.6.4
ipython==8.11.0
jedi==0.18.2
jeepney==0.7.1
jmespath==0.10.0
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
lxml==4.9.1
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
monotonic==1.6
more-itertools==8.10.0
mutagen==1.45.1
mysqlclient==2.1.1
netifaces==0.11.0
numpy==1.24.3
oauth2==1.9.0.post1
oauthlib==3.2.2
olefile==0.46
orderedmultidict==1.0.1
outcome==1.2.0
packaging==21.3
pandas==2.0.2
paramiko==2.9.3
parso==0.8.3
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pip-tools==6.8.0
prompt-toolkit==3.0.38
protobuf==3.12.4
psycopg2==2.8.5
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pycryptodomex==3.11.0
Pygments==2.14.0
PyJWT==2.7.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==3.0.9
pyRFC3339==1.1
PySocks==1.7.1
python-dateutil==2.8.2
python-openid==2.2.5
python-social-auth==0.3.6
python3-openid==3.2.0
pytz==2023.3
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.4.1
reportlab==3.6.11
requests==2.31.0
requests-oauthlib==1.3.1
s3transfer==0.3.7
SecretStorage==3.3.1
selenium==4.10.0
six==1.16.0
sniffio==1.3.0
social-auth-core==4.4.2
sortedcontainers==2.4.0
sqlparse==0.4.4
stack-data==0.6.2
svglib==1.4.1
tinycss2==1.1.1
tomli==2.0.1
traitlets==5.9.0
trio==0.22.1
trio-websocket==0.10.3
typing_extensions==4.7.1
tzdata==2023.3
Unidecode==1.1.2
urllib3==1.25.11
wadllib==1.3.6
wcwidth==0.2.6
webencodings==0.5.1
websockets==9.1
whitenoise==5.2.0
wsproto==1.2.0
xdg==5.0.0
XlsxWriter==3.1.1
yt-dlp==2022.4.8
zipp==1.0.0
