input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.otp {

    width: 35px;
    margin-left: 5px;
}
.code {
    display: flex;
    flex-direction: row;

}
.social_img {
    margin-left: 25px;
}
.user-name:hover {
    text-decoration: none;
}
.user-rank {
    margin-left: 5px;
}
@media screen and (max-width: 450px) {
    .user-rank {
        display: none;
    }
}