{% extends "inc/no_menu_base.html" %}
{% block content %}
<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center p-4">
            <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
            <h1 class="display-1 fw-bold">404</h1>
            <h1 class="mb-4">Страница не найдина</h1>
            <p class="mb-4">К сожалению, страница, которую вы искали, не существует на сайте!</p>
            <a class="btn btn-primary rounded-pill py-3 px-5" href="/lk/">На главную</a>
        </div>
    </div>
</div>
<!-- Sales Chart End -->


{% endblock content %}