{% extends "inc/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- Sales Chart Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm col-sm-6">
                                <h6 class="mb-4">Категории</h6>
                            </div>
                            <div class="col-sm col-sm-5">
                                <input type="search" class="form-control" placeholder="Поиск" id="search"
                                       onkeyup="search()">
                            </div>
                            <div class="col-sm">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#createCategoryModal">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div>
                        <!--<input type="search" class="form-control" placeholder="Поиск" id="search" onkeyup="search()">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#createUserModal">
                            <i class="fa fa-plus"></i>
                        </button>-->
                    </div>
                    <!-- Modal -->

                    <!--<script>
                        const full_name_text = document.getElementById("full_name_model")
                        const email_text = document.getElementById("email_model")
                        const role_text = document.getElementById("role_model")
                        const join_date_text = document.getElementById("join_date_model")
                        const last_login_text = document.getElementById("last_login_model")
                        const received = document.getElementById("received")
                        const modal = document.getElementById("exampleModal")
                        const loader = document.getElementById("modal_loader")
                        const modal_data = document.getElementById("information")
                        const modal_footer = document.getElementById("modal_footer")
                        const url = `${window.location.protocol}//${window.location.host}/lk/users/data/`
                        let interv = null;
                        console.log(url)

                        function open_user_detail(pk) {
                            if (interv == null) {
                                modal_data.style = "display: None;"
                                loader.style = "display: block;"
                                modal_footer.style = "display: None;"
                                setTimeout(function () {
                                    get_user_detail(pk)
                                    interv = setInterval(get_user_detail, 10000, pk)
                                }, 500)

                            } else {
                                console.warn("error!")
                            }

                        }

                        function close_user_detail() {
                            if (interv !== null) {
                                clearInterval(interv)
                                console.log("c")
                                interv = null
                            }
                            console.log("close")

                        }

                        function get_user_detail(pk) {
                            if (!modal.classList.contains("show")) {
                                if (interv) {

                                    clearInterval(interv)
                                    interv = null
                                }
                                return null
                            } else {
                                loader.style = "display: None;"
                                modal_footer.style = "display: block;"
                                modal_data.style = "display: block;"
                            }
                            fetch(url + pk.toString()).then((response) => {
                                return response.json()
                            }).then((data) => {
                                full_name_text.innerHTML = data.user.full_name
                                email_text.innerHTML = data.user.email
                                role_text.innerHTML = data.user.role.display
                                join_date_text.innerHTML = data.user.date_joined
                                last_login_text.innerHTML = data.user.last_login
                                received.innerHTML = data.received
                            })

                        }

                    </script>-->
                    <!-- Button trigger modal -->
                    <table class="table table-hover" id="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Название</th>
                            <th scope="col">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr>
                                <th scope="row">{{ category.id }}</th>
                                <td>{{ category.name }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#exampleModal"
                                            onclick="open_category_detail({{ category.pk }})">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <a class="btn btn-primary" href="/lk/events/category/{{ category.id }}/edit"><i
                                            class="fa fa-user-edit"></i></a>
                                    <a class="btn btn-danger" href="/lk/events/category/{{ category.id }}/delete"><i
                                            class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Информация</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
                            onclick="close_category_detail()">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="loader" id="modal_loader">
                        <div class="text-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="information" id="information">
                        <p>Название: <strong id="name_model"></strong></p>
                        <p>
                            Методисты:
                        <table class="table table-hover" id="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ФИО</th>
                            </tr>
                            </thead>
                            <tbody id="table_methodists">
                            </tbody>
                        </table>
                        <div class="row">

                        </div>
                        </p>
                    </div>

                </div>
                <div class="modal-footer" id="modal_footer">
                    <p class="small float-start">Информация актуальна на <span id="received"></span></p>
                </div>
            </div>
        </div>
    </div>


    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="createCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Создание категории</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post">
                    <div class="modal-body">

                        <div class="mb-3">
                            {% csrf_token %}
                            {{ form|crispy }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>


        const name_category = document.getElementById("name_model")
        const methodists = document.getElementById("table_methodists")
        const modal = document.getElementById("exampleModal")
        const loader = document.getElementById("modal_loader")
        const modal_data = document.getElementById("information")
        const modal_footer = document.getElementById("modal_footer")
        const category_url = `${window.location.protocol}//${window.location.host}/lk/events/category/data/`
        let interv = null;
        console.log(url)

        function open_category_detail(pk) {
            if (interv == null) {
                modal_data.style = "display: None;"
                loader.style = "display: block;"
                modal_footer.style = "display: None;"
                setTimeout(function () {
                    get_category_detail(pk)
                    interv = setInterval(get_category_detail, 10000, pk)
                }, 500)

            } else {
                console.warn("error!")
            }

        }

        function close_category_detail() {
            if (interv !== null) {
                clearInterval(interv)
                console.log("c")
                interv = null
            }
            console.log("close")

        }

        function get_category_detail(pk) {
            if (!modal.classList.contains("show")) {
                if (interv) {

                    clearInterval(interv)
                    interv = null
                }
                return null
            } else {
                loader.style = "display: None;"
                modal_footer.style = "display: block;"
                modal_data.style = "display: block;"
            }
            fetch(category_url + pk.toString()).then((response) => {
                return response.json()
            }).then((data) => {
                methodists.innerHTML = ""
                for (const element in data.category.methodists) {
                    let value = data.category.methodists[element]
                    methodists.innerHTML =  methodists.innerHTML + `<tr><th scope="row">${value.id}</th> <td>${value.full_name}</td></tr>`
                }
                name_category.innerHTML = data.category.name
                received.innerHTML = data.received



            })

        }
    </script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- Sales Chart End -->

{% endblock content %}