{% extends "inc/base.html" %}
{% block sidebar %}
{% load crispy_forms_tags %}
<a href="/lk/" class="nav-item nav-link"><i class="fa fa-home me-2"></i>Главная</a>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="fa fa-users me-2"></i>Пользователи</a>
    <div class="dropdown-menu bg-transparent border-0">
        <a href="/lk/users/list/" class="dropdown-item">Список</a>
        <a href="/lk/users/create/" class="dropdown-item">Создать</a>
    </div>
</div>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-calendar me-2"></i>Мероприятия</a>
    <div class="dropdown-menu bg-transparent border-0">
        <a href="/lk/events/list/" class="dropdown-item">Список</a>
        <a href="/lk/events/create/" class="dropdown-item">Создать</a>
    </div>
</div>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-building me-2"></i>Здания</a>
    <div class="dropdown-menu bg-transparent border-0">
        <a href="/lk/building/list/" class="dropdown-item">Список</a>
        <a href="/lk/building/add/" class="dropdown-item">Добавить</a>
    </div>
</div>
{% endblock sidebar %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Создание пользователя</h6>
                <form method="post">
                    <div class="mb-3">
                        {% csrf_token %}
                        {{ form|crispy}}
                    </div>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}