{% extends "inc/base.html" %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-6">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-calendar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Мероприятий</p>
                    <h6 class="mb-0">{{count_events}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-6">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-child fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Заявок</p>
                    <h6 class="mb-0">{{count_requests}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sales Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <div class="row">
                    <div class="col-sm col-sm-10">
                        <h6 class="mb-4">Архив мероприятий</h6>
                    </div>
                    <div class="col-sm">
                        <select onchange="choice(this);" style="width: 100px" class="form-control">
                            <option value="all" {% if not choice%}selected{% endif%}>Все</option>
                            {% for i in categories %}
                            <option value="{{i.pk}}" {% if choice == i.pk %}selected{% endif%}>{{ i.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Дата начала</th>
                        <th scope="col">Дата конца</th>
                        <th scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                    <tr>
                        <th scope="row"><a href="/lk/events/{{event.id}}/view">{{ event.id}}</a></th>
                        <td>{{event.name}}</td>
                        <td>{{event.start_date}}</td>
                        <td>{{event.end_date}}</td>
                        <td>
                            <a class="btn btn-primary" href="/lk/events/{{event.pk}}/unarchived"><i
                                    class="fas fa-box-open"></i></a>
                            <a class="btn btn-primary" href="/lk/events/{{event.pk}}/export"><i
                                    class="fas fa-file-download"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Sales Chart End -->


{% endblock content %}


{% block js %}
<script>
    const url = `${window.location.protocol}//${window.location.host}/lk/events/archive/`
    const choice = (event) => {
        if (event.value !== "all") {
            window.open(url+`?category=${event.value}`,"_self")
        } else {
            window.open(url,"_self")
        }
    }

</script>

{% endblock js %}