{% extends "inc/base.html" %}
{% block sidebar %}
{% load crispy_forms_tags %}
<a href="/lk/" class="nav-item nav-link" xmlns="http://www.w3.org/1999/html"><i class="fa fa-home me-2"></i>Главная</a>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-users me-2"></i>Пользователи</a>
    <div class="dropdown-menu bg-transparent border-0">
        <a href="/lk/users/list/" class="dropdown-item">Список</a>
        <a href="/lk/users/create/" class="dropdown-item">Создать</a>
    </div>
</div>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="far fa-calendar me-2"></i>Мероприятия</a>
    <div class="dropdown-menu bg-transparent border-0">
        <a href="/lk/events/list/" class="dropdown-item">Список</a>
        <a href="/lk/events/create/" class="dropdown-item">Создать</a>
    </div>
</div>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-building me-2"></i>Здания</a>
    <div class="dropdown-menu bg-transparent border-0">
        <a href="/lk/building/list/" class="dropdown-item">Список</a>
        <a href="/lk/building/add/" class="dropdown-item">Добавить</a>
    </div>
</div>
{% endblock sidebar %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">{{event.name}}</h6>
                <p>Описание: <strong>{{ event.description}}</strong></p>
                <p>Дата начала: <strong>{{ event.start_date}}</strong></p>
                <p>Дата окончания: <strong>{{ event.end_date}}</strong></p>
                <p>Организатор: <strong><a href="/lk/users/{{ event.organizer.pk}}/view">{{ event.organizer.full_name}}</a></strong></p>
                <p>Доступно для: <strong>{{ event.get_classroom_number_display}}</strong></p>
                <p>Корпус: <strong>{{ event.building.name}} ({{event.building.get_type_display}})</strong></p>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Учасники</h6>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ФИО</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in members %}
                        <tr>
                            <td>{{ member.user.full_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Заявки</h6>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ФИО</th>
                        <th scope="col">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in reqs %}
                    <tr>
                        <td>{{member.user.full_name}}</td>
                        <td>
                            <a class="btn btn-success"  href="/lk/events/{{event.id}}/accept/{{member.pk}}"><i class="fa fa-check"></i></a>
                            <a class="btn btn-danger" href="/lk/events/{{event.id}}/reject/{{member.pk}}"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}