<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Личный кабинет{% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">

    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}2">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
    </style>
</head>

<body data-bs-theme="dark" id="body">

<div class="container-xxl position-relative bg-white d-flex p-0" id="content">
    <!-- Spinner Start -->
    <div id="spinner"
         class="bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">


        <h4 class="user_welcome">test</h4>

    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="/lk/" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary">Волонтер</h3>
            </a>
            <!--<div class="d-flex align-items-center ms-4 mb-4">
                <div class="ms-3">
                    <h6 class="mb-0">{{ user.full_name }}</h6>
                    <span>{{ user.get_role_display }}</span>
                </div>
            </div>-->
            <div class="navbar-nav w-100">
                {% if user.role == "admin" or user.role == "director" %}
                    <a href="/lk/" class="nav-item nav-link {% if section == "index" %}active{% endif %}"><i
                            class="fa fa-home me-2"></i>Главная</a>
                    <a href="/lk/users/list/" class="nav-item nav-link {% if section == "users" %}active{% endif %}"><i
                            class="fa fa-users me-2"></i>Пользователи</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle {% if section == "events" %}active{% endif %}"
                           data-bs-toggle="dropdown"><i
                                class="far fa-calendar me-2"></i>Мероприятия</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/lk/events/" class="dropdown-item">Мероприятия</a>
                            <a href="/lk/events/archive/" class="dropdown-item">Архив</a>
                            <a href="/lk/events/category/list/" class="dropdown-item">Категории</a>

                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle {% if section == "building" %}active{% endif %}"
                           data-bs-toggle="dropdown"><i
                                class="far fa-building me-2"></i>Здания</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/lk/building/list/" class="dropdown-item">Список</a>
                            <a href="/lk/building/add/" class="dropdown-item">Добавить</a>
                        </div>
                    </div>
                    <a href="/lk/classrooms/"
                       class="nav-item nav-link {% if section == "classrooms" %}active{% endif %}"><i
                            class="fas fa-chalkboard-teacher me-2"></i>Классы</a>

                {% elif user.role == "methodist" %}
                    <a href="/lk/" class="nav-item nav-link {% if section == "index" %}active{% endif %}"><i
                            class="fa fa-home me-2"></i>Главная</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle {% if section == "events" %}active{% endif %}"
                           data-bs-toggle="dropdown"><i
                                class="far fa-calendar me-2"></i>Мероприятия</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/lk/events/list/" class="dropdown-item">Список</a>
                            <a href="/lk/events/archive/" class="dropdown-item">Архив</a>
                            <a href="/lk/events/create/" class="dropdown-item">Создать</a>

                        </div>
                    </div>
                {% elif user.role == "teacher" %}
                    <a href="/lk/" class="nav-item nav-link {% if section == "index" %}active{% endif %}"><i
                            class="fa fa-home me-2"></i>Главная</a>
                    {% if user.has_classroom %}
                        <div class="nav-item dropdown ">
                            <a href="#"
                               class="nav-link dropdown-toggle {% if section == "classroom" %}active{% endif %}"
                               data-bs-toggle="dropdown"><i
                                    class="fa fa-users me-2"></i>Мой класс</a>
                            <div class="dropdown-menu bg-transparent border-0">
                                <a href="/lk/classroom/students/" class="dropdown-item">Ученики</a>
                                <a href="/lk/classroom/invite/create/" class="dropdown-item">Пригласить</a>
                            </div>
                        </div>
                        <a href="/lk/events/" class="nav-item nav-link {% if section == "events" %}active{% endif %}"><i
                                class="fa fa-calendar me-2"></i>Мероприятия</a>
                    {% else %}
                        <div class="nav-item dropdown ">
                            <a href="#"
                               class="nav-link dropdown-toggle {% if section == "classroom" %}active{% endif %}"
                               data-bs-toggle="dropdown"><i
                                    class="fa fa-users me-2"></i>Мой класс</a>
                            <div class="dropdown-menu bg-transparent border-0">
                                <a href="/lk/classroom/create/" class="dropdown-item">Создать класс</a>
                            </div>
                        </div>
                    {% endif %}
                {% elif user.role == "student" %}
                    <a href="/lk/" class="nav-item nav-link {% if section == "index" %}active{% endif %}"><i
                            class="fa fa-home me-2"></i>Главная</a>
                    <a href="/lk/my/events/" class="nav-item nav-link {% if section == "my_events" %}active{% endif %}"><i
                            class="fa fa-calendar me-2"></i>Мои
                        события</a>
                    <a href="/lk/events/" class="nav-item nav-link {% if section == "events" %}active{% endif %}"><i
                            class="fa fa-calendar me-2"></i>Мероприятия</a>
                {% elif user.role == "psychologist" %}
                    <a href="/lk/" class="nav-item nav-link {% if section == "index" %}active{% endif %}"><i
                            class="fa fa-home me-2"></i>Главная</a>
                    <a href="/lk/schedule/" class="nav-link {% if section == "schedule" %}active{% endif %}"><i
                            class="fa fa-calendar me-2"></i>Расписание</a>
                {% elif user.role == "head_teacher" %}
                    <a href="/lk/" class="nav-item nav-link {% if section == "index" %}active{% endif %}"><i
                            class="fa fa-home me-2"></i>Главная</a>
                    <a href="/lk/users/list/" class="nav-item nav-link {% if section == "users" %}active{% endif %}"><i
                            class="fa fa-users me-2"></i>Пользователи</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle {% if section == "events" %}active{% endif %}"
                           data-bs-toggle="dropdown"><i
                                class="far fa-calendar me-2"></i>Мероприятия</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/lk/events/" class="dropdown-item">Мероприятия</a>
                            <a href="/lk/events/archive/" class="dropdown-item">Архив</a>
                            <a href="/lk/events/category/list/" class="dropdown-item">Категории</a>

                        </div>
                    </div>
                    <a href="/lk/classrooms/"
                       class="nav-item nav-link {% if section == "classrooms" %}active{% endif %}"><i
                            class="fa fa-users me-2"></i>Классы</a>
                {% else %}
                    {% block sidebar %}
                    {% endblock sidebar %}
                {% endif %}
            <!--<a href="/lk/chat/" class="nav-item nav-link {% if section == "chat" %}active{% endif %}"><i
                    class="fas fa-paper-plane me-2"></i>Чат</a>-->
    </div>
    </nav>
</div>
<!-- Sidebar End -->


<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    {% include 'inc/admin_menu.html' %}
    <!-- Navbar End -->
    <div class="container-fluid pt-4 px-4">
        {% if messages %}
            <ul class="messagelist">
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        <div class="alert alert-danger" role="alert">{{ message.message }}</div>
                    {% else %}
                        <div class="alert alert-{{ message.tags }}" role="alert">{{ message.message }}</div>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% block content %}

    {% endblock content %}


    <!-- Footer Start -->
    <!-- Footer End -->
</div>
<!-- Content End -->


<!-- Back to Top -->


<!--<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>-->
</div>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
<script src="{% static 'lib/chart/chart.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
<script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>
{% block js %}
    <script>
        let opened = false
        const open = document.querySelector("#chatbox__button")
        const chatbox = document.querySelector(".chatbox__support")
        const messages = document.querySelector(".chatbox__messages")
        open.addEventListener("click", () => {
            if (opened) {
                chatbox.classList.remove("chatbox--active")
                opened = false
            } else {
                chatbox.classList.add("chatbox--active")
                opened = true
            }
        })
        document.querySelector(".send__button").addEventListener("click", (e) => {
            e.preventDefault()
            let data = document.querySelector(".chatbox-data").value
            if (data !== "") {
                document.querySelector(".chatbox-data").value = ""
                messages.innerHTML = `<div class='messages__item messages__item--visitor'>${data}</div>` + messages.innerHTML
                data = fetch(`http://${location.host}/chatbot/?q=${data}`)
                    .then(data => data.json())
                    .then(data => {
                        message = `<div class='messages__item messages__item--operator'>${data.answer}</div>`

                        var urlRegex = /(http:\/\/[^\s]+)/g; // regex for only https:// (notice the missing "?")
                        message = message.replace(urlRegex, function (url) {
                            return '<a href="' + url + '">' + url + '</a>'; // return the replaced text
                        })
                        messages.innerHTML = message + messages.innerHTML
                    })


            }

        })

    </script>
    <!--<script defer>
        fetch(`${window.location.protocol}//${window.location.host}/user_activity/`).then(data => data.json()).then(data => {
            console.log(data)
            if (data.code == 3) {
                console.log("no verify")
                window.location.href = `${window.location.protocol}//${window.location.host}/verify/`
            }
        })

        function delay(time) {
            return new Promise(resolve => setTimeout(resolve, time));
        }

        var hour = new Date().getHours();
        var greeting;
        if (hour >= 5 && hour < 12)
            greeting = "Доброе утро";
        else if (hour >= 12 && hour < 18)
            greeting = "Добрый день";
        else if (hour >= 18 && hour < 24)
            greeting = "Добрый вечер";
        else if (hour >= 0 && hour < 5)
            greeting = "Доброй ночи";
        var welcome_msg = greeting + "!"
        document.querySelector(".user_welcome").innerHTML = welcome_msg

        async function showWelcomeScreen() {
            var cookies = document.cookie.split(';').reduce(
                (cookies, cookie) => {
                    const [name, val] = cookie.split('=').map(c => c.trim());
                    cookies[name] = val;
                    return cookies;
                }, {});
            console.log(cookies)
            let welcome = cookies.hasOwnProperty("welcome_screen")
            if (welcome === false) {
                console.log("show")
                document.querySelector("#spinner").classList.add("show")
                await delay(1000)
                document.querySelector("#spinner").classList.remove("show")


            }
            console.log(welcome)

            for (var i = 1; i <= cookies.length; i++) {
                ret += i + ' - ' + cookies[i - 1] + "\n";
            }
            return ret;
        }

        let r = showWelcomeScreen()
        console.log(r)

    </script>-->
{% endblock js %}

</body>

</html>