{% extends "inc/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">{{event.name}}</h6>
                <p>Описание: <strong>{{ event.description}}</strong></p>
                <p>Дата начала: <strong>{{ event.start_date}}</strong></p>
                <p>Дата окончания: <strong>{{ event.end_date}}</strong></p>
                <p>Организатор: <strong><a href="/lk/users/{{ event.organizer.pk}}/view">{{ event.organizer.full_name}}</a></strong></p>
                <p>Доступно для: <strong>{{ event.get_classroom_number_display}}</strong></p>
                <p>Корпус: <strong>{{ event.building.name}} ({{event.building.get_type_display}})</strong></p>
            </div>

        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Учасники</h6>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ФИО</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in members %}
                        <tr>
                            <td>{{ member.user.full_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Заявки</h6>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ФИО</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for member in reqs %}
                    <tr>
                        <td>{{member.user.full_name}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}