<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>комплексная автоматизация ГБОУ Школа №1236</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/carousel/carousel.css" rel="stylesheet">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">комплексная автоматизация ГБОУ Школа №1236</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto right">
                <li class="nav-item ">

                </li>
            </ul>
            {% if not user.is_authenticated %}
                <a class="nav-link" style="color: #fff" href="/auth/">Авторизация</a>
            {% else %}
                <a class="nav-link" style="color: #fff" href="/lk/">Личный кабинет</a>
            {% endif %}
        </div>
    </nav>
</header>

<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading">Для чего нужны вне классные мероприятия?</h2>
                <p class="lead">Вне классные мероприятия в школах играют важную роль в развитии учеников. Они помогают раскрыть творческий потенциал, укрепить дружеские связи, повысить мотивацию к учебе и развить социальные навыки.</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading">Какие вне классные мероприятия могут помочь ученикам развить творческие способности?</h2>
                <p class="lead">Вне классные мероприятия, такие как художественные выставки, музыкальные концерты, литературные конкурсы и т.д., могут помочь ученикам развить творческие способности, такие как воображение, креативность, самовыражение и т.д.</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-12">
                <h2 class="featurette-heading">Какие вне классные мероприятия могут помочь ученикам развить навыки коммуникации?</h2>
                <p class="lead">Вне классных мероприятий, которые могут помочь ученикам развить навыки коммуникации, могут быть: дебаты, театральные постановки, музыкальные концерты, волонтерские проекты, экскурсии и поездки, а также другие виды деятельности, которые требуют общения с другими людьми.</p>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <footer class="container" style=">
        <p class=">
        © {% now 'Y' %} Все права как бы защещины</p>

        <p>Мы в социальных сетях</p>
        <a href="https://t.me/school1236Milashenkov" target="_blank"><i class="fab fa-telegram fa-2x" style="color: #55acee;"></i></a>
        <a href="https://vk.com/sc1236" target="_blank"><i class="fab fa-vk fa-2x" style="color: #4c75a3;"></i></a>
    </footer>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>


<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none"
     style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
    <defs>
        <style type="text/css"></style>
    </defs>
    <text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">
        500x500
    </text>
</svg>
</body>
</html>