{% extends "inc/base.html" %}
{% block content %}
    <!-- Sale & Revenue End -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-xl-12">

                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Занятия - {{ date }}</h6>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="width: 15%;" scope="col">Время</th>
                            <th style="width: 80%;" scope="col">Ребенок</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for e in classes %}
                            <tr class="">
                                <td class="">{{ e.start_time }} - {{ e.end_time }}</td>
                                <td><a href="#" data-comment="{{ e.comment }}"
                                       data-born="{{ e.child.date_of_birth }}">{{ e.child.full_name }}</a></td>
                                <td class="text-center">
                                    {% if e.can_move %}
                                        <button class="btn btn-primary moveModalOpenBtn" data-bs-toggle="modal"
                                                data-bs-target="#classesMove" data-pk="{{ e.pk }}"
                                                data-end="{{ e.end_time }}"
                                                data-start="{{ e.start_time }}"><i
                                                class="fa fa-clock"></i></button>
                                    {% endif %}
                                    <button class="btn btn-primary classes_info" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal"
                                            data-student_id="{{ e.child.pk }}"
                                            data-student="{{ e.child.full_name }}" data-end="{{ e.end_time }}"
                                            data-start="{{ e.start_time }}" data-date="{{ e.date }}"
                                            data-comment="{{ e.comment }}">
                                        <i class="fa fa-info"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Информация о занятие</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Дата: <strong id="classes_date"></strong></p>
                    <p>Начало занятия: <strong id="classes_start"></strong></p>
                    <p>Конец занятия: <strong id="classes_end"></strong></p>
                    <p>Ученик: <strong id="classes_student"></strong></p>
                    <p>Комментарий к занятию: <strong id="classes_comment"></strong></p>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="classesMove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="classesMoveDialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="classesMoveLabel">Выберите дату</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="stepOne">
                        {{ cal|safe }}
                    </div>
                    <div id="stepTwo" style="display:none;">
                        <form>
                            <div class="mb-5">
                                <label for="classesStartTime" class="col-sm-4 col-form-label">Начало занятия</label>
                                <input type="time" class="form-control" id="classesStartTime" value>
                            </div>
                            <div class="mb-5">
                                <label for="classesEndTime" class="col-sm-4 col-form-label">Конец занятия</label>
                                <input type="time" class="form-control" id="classesEndTime" value>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="nextStepBtn" disabled>Далее</button>
                </div>
            </div>
        </div>
    </div>
    <p class="d-none" id="editpk"></p>
{% endblock content %}

{% block js %}
    <script>
        const buttons = document.querySelectorAll(".classes_info")
        console.log(buttons)
        const student = document.querySelector("#classes_student")
        const start = document.querySelector("#classes_start")
        const end = document.querySelector("#classes_end")
        const date = document.querySelector("#classes_date")
        const comment = document.querySelector("#classes_comment")

        buttons.forEach((btn) => {
            console.log("test")
            btn.addEventListener("click", async () => {
                console.log("test")
                student.innerHTML = `<a href='#${btn.dataset.student_id}'>${btn.dataset.student}</a>`
                start.innerText = btn.dataset.start
                end.innerText = btn.dataset.end
                date.innerText = btn.dataset.date
                comment.innerText = btn.dataset.comment
            })
        })
    </script>
    <script>

        const classesStartTime = document.querySelector("#classesStartTime")
        const classesEndTime = document.querySelector("#classesEndTime")
        const prevNext = document.querySelectorAll(".icons")
        const stepOne = document.querySelector("#stepOne")
        const stepTwo = document.querySelector("#stepTwo")
        const editpk = document.querySelector("#editpk")
        let step = 1;
        const nextStepBtn = document.querySelector("#nextStepBtn")
        let date_field;
        const moveModalOpenBtn = document.querySelectorAll(".moveModalOpenBtn")
        let start_time;
        let end_time;

        function delay(time) {
            return new Promise(resolve => setTimeout(resolve, time));
        }

        moveModalOpenBtn.forEach((e) => {
            e.addEventListener("click", async (e) => {
                await delay(500)
                stepTwo.style.display = "none"
                stepOne.style.display = "block"
                document.querySelector("#classesMoveLabel").innerHTML = "Выберите дату"
                let cmd = document.querySelector("#classesMoveDialog")
                cmd.classList.add("modal-lg")
                nextStepBtn.innerHTML = "Далее"
                next_button(false)

                await delay(1000)
                console.log("open")
                console.log(e.target.dataset.pk)
                step = 1
                console.log(e.target.dataset)
                let pk = e.target.dataset.pk
                editpk.innerText = pk
                next_button(false)
                await calendar_update()
            })
        })

        prevNext.forEach((e) => {
            e.addEventListener("click", (m) => {
                calendar_update(e.target)
            })
        })


        classesStartTime.addEventListener("change", (e) => {
            classesEndTime.setAttribute("min", `${classesStartTime.value}:00`)
        })

        async function calendar_update(pk) {

            next_button(false)
            await delay(250)
            let d = document.querySelectorAll(".days .day")
            d.forEach((e) => {
                e.addEventListener("click", () => {
                    let a = document.querySelector(".days .active")
                    if (a) {
                        a.classList.remove("active")
                    }
                    date_field = e.dataset.date
                    next_button(true)
                    e.classList.add("active")
                })
            })
        }

        nextStepBtn.addEventListener("click", (e) => {
            if (step === 1) {
                stepOne.style.display = "none"
                stepTwo.style.display = "block"
                document.querySelector("#classesMoveLabel").innerHTML = "Выберите время"
                let cmd = document.querySelector("#classesMoveDialog")
                cmd.classList.remove("modal-lg")
                step += 1
                nextStepBtn.innerHTML = "Перенести"
                next_button(true)
            } else {
                let form = document.querySelector("form")
                let final_data = `?date=${date_field}&start=${classesStartTime.value}&end=${classesEndTime.value}&id=${editpk.innerText}`

                window.open(`/lk/schedule/edit${final_data}`, "_self")
            }

        })

        function next_button(selected) {
            if (selected) {
                nextStepBtn.removeAttribute("disabled")
            } else {
                nextStepBtn.setAttribute("disabled", "")
            }
        }

    </script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script>
        $('.modal-dialog').draggable();
    </script>
{% endblock js %}