{% extends "inc/base.html" %}
{% block sidebar %}
    <a href="/lk/" class="nav-item nav-link active"><i class="fa fa-home me-2"></i>Главная</a>
    <a href="/lk/my/events/" class="nav-item nav-link"><i class="fa fa-calendar me-2"></i>Мои события</a>
    <a href="/lk/events/" class="nav-item nav-link"><i class="fa fa-calendar me-2"></i>Мероприятия</a>
<!--<a href="/lk/events/invites/" class="nav-item nav-link"><i class="fa me-2 fa-calendar"></i>Приглашения</a>-->

{% endblock sidebar %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-4 col-xl-4">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fas fa-coins fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Баллов</p>
                    <h6 class="mb-0">{{user.points}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xl-4">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fas fa-user-tag fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Статус</p>
                    <h6 class="mb-0">
                        {{user.get_status}}
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xl-4">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="far fa-building text-primary fa-3x"></i>
                <div class="ms-3">
                    <p class="mb-2">Класс</p>
                    <h6 class="mb-0">
                        {{user.get_classroom}}
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}

{% block js %}
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
<script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
<script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lang-all.js"></script>
<script>
   $(document).ready(function () {
       var calendar = $(`#calendar`).fullCalendar({
           header: {
               left: 'prev,next today',
               center: 'title',
               right: 'month,agendaWeek,agendaDay'
           },
           events: `/lk/events/all_events/?mode=my`,
           eventLimit: true,
           lang: 'ru',
           displayEventTime: false

       });
   });
</script>
{% endblock js %}