{% extends "inc/base.html" %}
{% block sidebar %}
<a href="/lk/" class="nav-item nav-link"><i class="fa fa-home me-2"></i>Главная</a>
<a href="/lk/my/events/" class="nav-item nav-link active"><i class="fa fa-calendar me-2"></i>Мои события</a>
<a href="/lk/events/" class="nav-item nav-link"><i class="fa fa-calendar me-2"></i>Мероприятия</a>
<!--    <a href="/lk/events/invites/" class="nav-item nav-link"><i class="fa me-2 fa-calendar"></i>Приглашения</a>-->

{% endblock sidebar %}
{% block content %}


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Ожидание начала</h6>
                <div class="row row-cols-1 row-cols-md-3 g-3">
                    {% for event in wait %}
                    <div class="col">
                        <div class="card">
                            <img src="{% if event.image%}{{event.image.url}}{% else%}{% endif %}" class="card-img-top"
                                 alt="">
                            <div class="card-body">
                                <h5 class="card-title"><a href="/lk/events/{{ event.pk }}/detail">{{ event.name }}</a></h5>
                                <p class="card-text">
                                    {{ event.description | truncatechars:100 }}
                                    <hr>
                                    Начало: {{event.start_date}}<br>
                                    Конец: {{event.end_date}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        <div class="text-center">Нет мероприятий</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Начались</h6>
                <div class="row row-cols-1 row-cols-md-3 g-3">
                    {% for event in started %}
                    <div class="col">
                        <div class="card">
                            <img src="{% if event.image%}{{event.image.url}}{% else%}{% endif %}" class="card-img-top"
                                 alt="">
                            <div class="card-body">
                                <h5 class="card-title"><a href="/lk/events/{{ event.pk }}/detail">{{ event.name }}</a></h5>
                                <p class="card-text">
                                    {{ event.description | truncatechars:100 }}
                                    <hr>

                                    Начало: {{event.start_date}}<br>
                                    Конец: {{event.end_date}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        <div class="text-center">Нет мероприятий</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Завершенные</h6>
                <div class="row row-cols-1 row-cols-md-3 g-3">
                    {% for event in ended %}
                    <div class="col">
                        <div class="card">
                            <img src="{% if event.image%}{{event.image.url}}{% else%}{% endif %}" class="card-img-top"
                                 alt="">
                            <div class="card-body">
                                <h5 class="card-title"><a href="/lk/events/{{ event.pk }}/detail">{{ event.name }}</a></h5>
                                <p class="card-text">
                                    {{ event.description | truncatechars:100 }}
                                    <hr>
                                    Начало: {{event.start_date}}<br>
                                    Конец: {{event.end_date}}<br>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        <div class="text-center">Нет мероприятий</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}